node-red-flow.json
[{"id":"aa71a504.00b128","type":"tab","label":"IoT-QoW-Shark-node-red","disabled":false,"info":""},{"id":"fe5841ea.96c07","type":"mqtt in","z":"aa71a504.00b128","name":"","topic":"#","qos":"2","datatype":"json","broker":"d3ffe551.ecebd8","nl":false,"rap":true,"rh":0,"x":310,"y":380,"wires":[["f96dd016.0ba6d","2e870d74.e24822","e26f5e3b.4c333"]]},{"id":"f96dd016.0ba6d","type":"function","z":"aa71a504.00b128","name":"TDS Info","func":"var m = 0\n\nfor ( i = 0; i < 4; i++ ) {\n    m += msg.payload.uplink_message.decoded_payload[i].tds\n}\nm = m/4\nmsg.payload = m;\nmsg.topic =\"TDS\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["27241f85.99604"]]},{"id":"eaeb00fb.ff35","type":"change","z":"aa71a504.00b128","name":"ui_control","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"tabulator\":{\"columnResized\":\"function(column){     var newColumn = {         field: column._column.field,         visible: column._column.visible,         width: column._column.width,         widthFixed: column._column.widthFixed,         widthStyled: column._column.widthStyled     }; this.send({topic:this.config.topic,ui_control:{callback:'columnResized',columnWidths:newColumn}}); }\",\"columnMoved\":\"function(column, columns){     var newColumns=[];     columns.forEach(function (column) {         newColumns.push({'field': column._column.field});     });     this.send({topic:this.config.topic,ui_control:{callback:'columnMoved',columns:newColumns}}); }\",\"groupHeader\":\"function (value, count, data, group) {return value + \\\"<span style='color:#d00; margin-left:10px;'>(\\\" + count + \\\" Termostat\\\"+((count>1) ? \\\"e\\\" : \\\"\\\") + \\\")</span>\\\";}\",\"columns\":[{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Latitude\",\"field\":\"latitude\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Longitude\",\"field\":\"longitude\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Longitude\",\"field\":\"longitude\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Timestamp\",\"field\":\"time\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"Velocidade\",\"field\":\"velocity\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"TDS\",\"field\":\"tds\",\"width\":100,\"align\":\"center\"},{\"formatterParams\":{\"target\":\"_blank\"},\"title\":\"ServerTime\",\"field\":\"servertime\",\"width\":100,\"align\":\"center\"}],\"layout\":\"fitColumns\",\"movableColumns\":true,\"groupBy\":\"\"},\"customHeight\":100}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":440,"wires":[["b03a44dd.378e78"]]},{"id":"7e642049.ec2e5","type":"file","z":"aa71a504.00b128","name":"add data to csv","filename":"movimentData.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":940,"y":300,"wires":[["69d9afb2.d0e88"]]},{"id":"2e870d74.e24822","type":"function","z":"aa71a504.00b128","name":"data2CSV","func":"var today = new Date();\n\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); \nvar yyyy = today.getFullYear();\nvar s_hh = String(today.getHours()).padStart(2, '0');\nvar s_min = String(today.getMinutes() + 1).padStart(2, '0'); \nvar s_ss = String(today.getSeconds()).padStart(2, '0');\nvar servertime = yyyy + \"-\" + mm + \"-\" + dd + \"T\" + s_hh + \":\" + s_min + \":\" + s_ss + \"Z\"; \nvar payload = []\nvar d = msg.payload.uplink_message.decoded_payload;\nfor(var c_read in d) { \n    var reading = {}\n    reading.latitude = d[c_read].latitude;\n    if(d[c_read].latitude_sign > 0) reading.latitude *= -1 ;\n    reading.longitude = d[c_read].longitude;\n    if(d[c_read].longitude_sign > 0) reading.longitude *= -1; \n    var hh = d[c_read].hour;\n    var min = d[c_read].minute;\n    var ss = d[c_read].second;\n    reading.time =  yyyy + \"-\" + mm + \"-\" + dd + \"T\" + hh + \":\" + min + \":\" + ss + \"Z\";\n    reading.velocity = d[c_read].average_speed;\n    reading.tds = d[c_read].tds;\n    reading.servertime = servertime;\n    reading.trip = 1;\n    payload.push(reading);\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":300,"wires":[["9e439b9d.a2fa18","6ea5cc39.8cb254"]]},{"id":"9e439b9d.a2fa18","type":"csv","z":"aa71a504.00b128","name":"parse data to csv","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":750,"y":300,"wires":[["7e642049.ec2e5"]]},{"id":"69d9afb2.d0e88","type":"file in","z":"aa71a504.00b128","name":"read from csv","filename":"movimentData.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":880,"y":380,"wires":[["f0d8da.9dcd4728"]]},{"id":"a2c99bb9.c49848","type":"comment","z":"aa71a504.00b128","name":"Adiciona a payload num ficheiro CSV local","info":"Adiciona a payload num ficheiro CSV local","x":740,"y":260,"wires":[]},{"id":"8a07347f.5095f8","type":"comment","z":"aa71a504.00b128","name":"Vai buscar todo o conteúdo acumulado do CSV local","info":"","x":770,"y":420,"wires":[]},{"id":"d6e4c3fc.7e0c3","type":"comment","z":"aa71a504.00b128","name":"Apresentação dos resultado em um tabela","info":"","x":1340,"y":500,"wires":[]},{"id":"290686ec.a1b7ca","type":"comment","z":"aa71a504.00b128","name":"Apresentação da média do TDS ao longo do tempo","info":"","x":750,"y":520,"wires":[]},{"id":"e26f5e3b.4c333","type":"function","z":"aa71a504.00b128","name":"Map Info","func":"var d = msg.payload.uplink_message.decoded_payload;\nvar payload = []\nvar i = 0\nfor(var c_read in d) { \n    var reading = {}\n    reading.name = i++;\n    reading.lat = d[c_read].latitude;\n    if(d[c_read].latitude_sign > 0) reading.lat *= -1 ;\n    reading.lon = d[c_read].longitude;\n    if(d[c_read].longitude_sign > 0) reading.lon *= -1; \n    payload.push(reading);\n}\n\nmsg.payload=payload\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":600,"wires":[["d6fef652.629a78","2b5e150d.48801a"]]},{"id":"f4213c11.0fe5b","type":"http request","z":"aa71a504.00b128","name":"post to orion","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.5:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":180,"wires":[["6a0039c0.e59a58"]]},{"id":"9286160b.0f67b8","type":"function","z":"aa71a504.00b128","name":"prep data for orion","func":"var totalMsgs = msg.payload.length;\n//get lastest 4 readings\nmsg.payload = msg.payload.slice(msg.payload.length-4, msg.payload.length)\ntrip = msg.payload[0].trip\nvar readings = []\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    curr_reading = msg.payload[i];\n    reading = {}\n    //set type and id for each reading\n    reading.type = \"WaterQualityObserved\";\n    reading.id = \"WaterQualityObserved:QoW-Shark:Trip:\" + trip + \":\" + curr_reading.time + \":\" + (totalMsgs - (4 - i))\n    //reformat data \n    reading.tds = {value: curr_reading.tds, type: \"Number\"}\n    reading.location = {type: \"geo:json\", value: {type: \"Point\", coordinates:[curr_reading.longitude, curr_reading.latitude]}}\n    reading.velocity = {value: curr_reading.velocity, type: \"Number\"}\n    reading.velocity.metadata = {unitcode: {value: \"MTS\", type: \"String\"}}\n    reading.measurand = {value: [\"TDS\", curr_reading.tds, \"59\", \"Total Dissolved Solids\"], type: \"Array\"}\n    reading.dateObserved = {value: curr_reading.time, type: \"String\"}\n    reading.trip = {value: trip, type: \"Number\"}\n    //add reformatted data to payload\n    readings.push(reading);\n}\nmsg.payload = readings;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":280,"wires":[["d4f7598e.8ba078","92373383.aadc2","c734569.04535a8","17de8914.1d8327","9e41690c.3b0fd8"]]},{"id":"6a0039c0.e59a58","type":"debug","z":"aa71a504.00b128","name":"http response to post msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":180,"wires":[]},{"id":"d4f7598e.8ba078","type":"debug","z":"aa71a504.00b128","name":"msg going out to orion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":80,"wires":[]},{"id":"2b5e150d.48801a","type":"debug","z":"aa71a504.00b128","name":"map data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":580,"wires":[]},{"id":"f0d8da.9dcd4728","type":"csv","z":"aa71a504.00b128","name":"csv to parsed data","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"latitude,longitude,time,velocity,tds,servertime,trip","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":380,"wires":[["6287021a.f2761c","eaeb00fb.ff35","9286160b.0f67b8"]]},{"id":"6287021a.f2761c","type":"debug","z":"aa71a504.00b128","name":"parsed data with csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":380,"wires":[]},{"id":"6ea5cc39.8cb254","type":"debug","z":"aa71a504.00b128","name":"data2csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"92373383.aadc2","type":"function","z":"aa71a504.00b128","name":"","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":180,"wires":[["f4213c11.0fe5b"]]},{"id":"c734569.04535a8","type":"function","z":"aa71a504.00b128","name":"","func":"msg.payload = msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":220,"wires":[["5d368497.4047dc"]]},{"id":"17de8914.1d8327","type":"function","z":"aa71a504.00b128","name":"","func":"msg.payload = msg.payload[2]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":260,"wires":[["d4a097fe.caa828"]]},{"id":"9e41690c.3b0fd8","type":"function","z":"aa71a504.00b128","name":"","func":"msg.payload = msg.payload[3]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":300,"wires":[["c2d8a757.05f458"]]},{"id":"d4a097fe.caa828","type":"http request","z":"aa71a504.00b128","name":"post to orion","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.5:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":260,"wires":[["59afea2f.e86ca4"]]},{"id":"c2d8a757.05f458","type":"http request","z":"aa71a504.00b128","name":"post to orion","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.5:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":300,"wires":[["723c006e.175b1"]]},{"id":"5d368497.4047dc","type":"http request","z":"aa71a504.00b128","name":"post to orion","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://172.17.0.5:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":220,"wires":[["f2d33332.50043"]]},{"id":"723c006e.175b1","type":"debug","z":"aa71a504.00b128","name":"http response to post msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":300,"wires":[]},{"id":"f2d33332.50043","type":"debug","z":"aa71a504.00b128","name":"http response to post msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":220,"wires":[]},{"id":"59afea2f.e86ca4","type":"debug","z":"aa71a504.00b128","name":"http response to post msg1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2140,"y":260,"wires":[]},{"id":"27241f85.99604","type":"ui_chart","z":"aa71a504.00b128","name":"","group":"ba1b6d2e.cf9ba","order":0,"width":0,"height":0,"label":"Dados TDS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":460,"wires":[[]]},{"id":"b03a44dd.378e78","type":"ui_table","z":"aa71a504.00b128","group":"ba1b6d2e.cf9ba","name":"","order":1,"width":0,"height":0,"columns":[],"outputs":1,"cts":true,"x":1430,"y":440,"wires":[[]]},{"id":"d6fef652.629a78","type":"worldmap","z":"aa71a504.00b128","name":"","lat":"","lon":"","zoom":"","layer":"Terrain","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":720,"y":640,"wires":[]},{"id":"78917bb6.163b04","type":"inject","z":"aa71a504.00b128","name":"create","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":780,"wires":[["5cae102e.d617e"]]},{"id":"17681919.ecdbe7","type":"inject","z":"aa71a504.00b128","name":"delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":700,"wires":[["2ccdd1f.8c36f2e"]]},{"id":"2ccdd1f.8c36f2e","type":"sqlite","z":"aa71a504.00b128","mydb":"52a92e6a.7c8b1","sqlquery":"fixed","sql":"DROP TABLE mainTableName;","name":"rmDb","x":1510,"y":700,"wires":[["329488f5.79ca88"]]},{"id":"5cae102e.d617e","type":"sqlite","z":"aa71a504.00b128","mydb":"52a92e6a.7c8b1","sqlquery":"fixed","sql":"CREATE TABLE mainTableName(\nid VARCHAR(100) NOT NULL,\ntype VARCHAR(50) NOT NULL,\ndateObservedtype VARCHAR(50) NOT NULL,\ndateObservedvalue VARCHAR(50) NOT NULL,\nlocationtype VARCHAR(50) NOT NULL,\nlocationvaluetype VARCHAR(50) NOT NULL,\nlatitude VARCHAR(50) NOT NULL,\nlongitude VARCHAR(50) NOT NULL,\nmeasurandtype VARCHAR(50) NOT NULL,\nmeasurandstring VARCHAR(50) NOT NULL,\nmeasurandvalue VARCHAR(50) NOT NULL,\nmeasurandunitcode VARCHAR(50) NOT NULL,\nmeasuranddescription VARCHAR(50) NOT NULL,\ntdstype VARCHAR(50) NOT NULL,\ntdsvalue DOUBLE NOT NULL,\nvelocitytype VARCHAR(50) NOT NULL,\nvelocityvalue VARCHAR(50) NOT NULL,\nvelocitymetadataunitcodetype VARCHAR(50) NOT NULL,\nvelocitymetadataunitcodevalue VARCHAR(50) NOT NULL,\ntripnumber VARCHAR(50) NOT NULL,\ntriptype VARCHAR(50) NOT NULL,\nPRIMARY KEY (id));","name":"createDB","x":1520,"y":780,"wires":[["639d8810.4fd988"]]},{"id":"9f8e9330.04fa3","type":"sqlite","z":"aa71a504.00b128","mydb":"52a92e6a.7c8b1","sqlquery":"fixed","sql":"SELECT * FROM mainTableName","name":"select","x":1510,"y":860,"wires":[["2b5f0b0c.7815c4"]]},{"id":"c8b49c.dd1f0b68","type":"inject","z":"aa71a504.00b128","name":"select","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":860,"wires":[["9f8e9330.04fa3"]]},{"id":"f73db84f.31ef38","type":"function","z":"aa71a504.00b128","name":"","func":"msg.topic = \"INSERT INTO mainTableName (id,type,dateObservedtype,dateObservedvalue,locationtype,locationvaluetype,latitude,longitude,measurandtype,measurandstring,measurandvalue,measurandunitcode,measuranddescription,tdstype,tdsvalue,velocitytype,velocityvalue,velocitymetadataunitcodetype,velocitymetadataunitcodevalue,tripnumber,triptype)\"\n\nvar values = \" VALUES \";\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    curr_tuple = \"\";\n    curr_tuple += \"\\\"\" + msg.payload[i].id + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].dateObserved.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].dateObserved.value + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].location.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].location.value.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].location.value.coordinates[0] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].location.value.coordinates[1] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].measurand.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].measurand.value[0] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].measurand.value[1] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].measurand.value[2] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].measurand.value[3] + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].tds.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].tds.value + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].velocity.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].velocity.value + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].velocity.metadata.unitcode.type + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].velocity.metadata.unitcode.value + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].trip.value + \"\\\",\";\n    curr_tuple += \"\\\"\" + msg.payload[i].trip.type + \"\\\"\";\n    values += \"(\" + curr_tuple + \"),\";\n}\nvalues = values.slice(0, -1);\nmsg.topic += values;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2580,"y":380,"wires":[["77bbbb61.f9caa4","7a780291.42b5dc"]]},{"id":"77bbbb61.f9caa4","type":"sqlite","z":"aa71a504.00b128","mydb":"52a92e6a.7c8b1","sqlquery":"msg.topic","sql":"","name":"","x":2820,"y":380,"wires":[["8391f1a5.ae21b"]]},{"id":"2b5f0b0c.7815c4","type":"debug","z":"aa71a504.00b128","name":"select statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":860,"wires":[]},{"id":"639d8810.4fd988","type":"debug","z":"aa71a504.00b128","name":"create statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":780,"wires":[]},{"id":"329488f5.79ca88","type":"debug","z":"aa71a504.00b128","name":"delete statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1740,"y":700,"wires":[]},{"id":"8391f1a5.ae21b","type":"debug","z":"aa71a504.00b128","name":"insert result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3010,"y":380,"wires":[]},{"id":"7a780291.42b5dc","type":"debug","z":"aa71a504.00b128","name":"sql statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":2820,"y":280,"wires":[]},{"id":"13b2084d.3e2348","type":"complete","z":"aa71a504.00b128","name":"","scope":["f4213c11.0fe5b"],"uncaught":false,"x":1730,"y":380,"wires":[["af4e795d.884788"]]},{"id":"af4e795d.884788","type":"file in","z":"aa71a504.00b128","name":"read from csv","filename":"movimentData.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1960,"y":380,"wires":[["e831953d.4ae648"]]},{"id":"e831953d.4ae648","type":"csv","z":"aa71a504.00b128","name":"csv to parsed data","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"latitude,longitude,time,velocity,tds,servertime,trip","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2170,"y":380,"wires":[["ced97b35.a592a8"]]},{"id":"ced97b35.a592a8","type":"function","z":"aa71a504.00b128","name":"format data","func":"var totalMsgs = msg.payload.length;\n//get lastest 4 readings\nmsg.payload = msg.payload.slice(msg.payload.length-4, msg.payload.length)\ntrip = msg.payload[0].trip\nvar readings = []\n\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    curr_reading = msg.payload[i];\n    reading = {}\n    //set type and id for each reading\n    reading.type = \"WaterQualityObserved\";\n    reading.id = \"WaterQualityObserved:QoW-Shark:Trip:\" + trip + \":\" + curr_reading.time + \":\" + (totalMsgs - (4 - i))\n    //reformat data \n    reading.tds = {value: curr_reading.tds, type: \"Number\"}\n    reading.location = {type: \"geo:json\", value: {type: \"Point\", coordinates:[curr_reading.longitude, curr_reading.latitude]}}\n    reading.velocity = {value: curr_reading.velocity, type: \"Number\"}\n    reading.velocity.metadata = {unitcode: {value: \"MTS\", type: \"String\"}}\n    reading.measurand = {value: [\"TDS\", curr_reading.tds, \"59\", \"Total Dissolved Solids\"], type: \"Array\"}\n    reading.dateObserved = {value: curr_reading.time, type: \"String\"}\n    reading.trip = {value: trip, type: \"Number\"}\n    //add reformatted data to payload\n    readings.push(reading);\n}\nmsg.payload = readings;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":380,"wires":[["f73db84f.31ef38"]]},{"id":"d3ffe551.ecebd8","type":"mqtt-broker","name":"IoT-Demo_MQTT-TTNv3","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ba1b6d2e.cf9ba","type":"ui_group","name":"Default","tab":"b2c21c3c.0ed1","order":1,"disp":true,"width":"6","collapse":false},{"id":"52a92e6a.7c8b1","type":"sqlitedb","db":"/tmp/sqlite","mode":"RWC"},{"id":"b2c21c3c.0ed1","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]